@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Employee";
}

<h1>All Employees</h1>
<a asp-controller="Employees" asp-action="Create" class="btn btn-primary">Add Employee</a>
<br />
<br />



<form asp-action="Index">
    <div class="row">

        <div class="col-8">
            <input type="text" name="InputSearch" id="InputSearch" placeholder="Search By Name" class="form-control" />
        </div>
        <div class="col-4">
            <input type="submit" value="search" class="btn btn-outline-info" />
        </div>
    </div>


</form>

@if (!string.IsNullOrEmpty(TempData["Message"] as string))
{

    <div class="alert alert-success">
        <p>
            @TempData["Message"]
        </p>
    </div>

}




@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr class="text-center">

                <th>@Html.DisplayNameFor(E => E.Image)</th>
                <th>@Html.DisplayNameFor(E => E.Name)</th>
                <th>@Html.DisplayNameFor(E => E.WorkFor.Name)</th>
                <th>@Html.DisplayNameFor(E => E.Age)</th>
                <th>@Html.DisplayNameFor(E => E.Address)</th>
                <th>@Html.DisplayNameFor(E => E.Email)</th>
                <th>@Html.DisplayNameFor(E => E.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(E => E.Salary)</th>
                <th>@Html.DisplayNameFor(E => E.IsActive)</th>
                <th>@Html.DisplayNameFor(E => E.HiringDate)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr class="text-center">
                    <td>
                        <img src="~/files/images/@employee.ImageName" width="75" class="img-fluid rounded-circle">
                    </td>

                    <td>@employee.Name</td>
                    <td>@employee.WorkFor?.Name</td>
                    <td>@employee.Age</td>
                    <td>@employee.Address</td>
                    <td>@Html.DisplayFor(E => employee.Email)</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@Html.DisplayFor(E => employee.Salary)</td>
                    <td>@Html.DisplayFor(E => employee.IsActive)</td>
                    <td>@employee.HiringDate</td>

                    <partial name="_BtnPartialView" Model="@employee.Id.ToString()" />
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="mt-4 alert alert-warning">
        <h4>There is No Employees :(</h4>
    </div>
}








<script>
    const searchBar = $('#InputSearch');
    const table = $('table');
    searchBar.on('keyup', function (event) {
        var searchValue = searchBar.val();
        $.ajax({
           url:'/Employees/Search',
           type :'Get',
            data: {InputSearch : searchValue},
            success: function (result) {
                table.html(result)
            },
            error: function (xhr, status, error) {
                console.log(error)
            }

        })
    })
</script>