@model IEnumerable<RoleViewModel>
<table class="table table-striped table-hover">
    <thead>
        <tr class="text-center">

            <th>@Html.DisplayNameFor(R => R.Id)</th>

            <th>@Html.DisplayNameFor(R => R.RoleName)</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Role in Model)
        {
            <tr class="text-center">
                <td> @Role.Id</td>
                <td> @Role.RoleName</td>
                <partial name="_BtnPartialView" Model="@Role.Id" />
            </tr>
        }
    </tbody>
</table>